*__pycache__
*.DS_Store
*.idea/
*.pem
*.vscode
*output
.env
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.log
*.sav
libs/*
program.log*
resources/scans/*
resources/misc/*
strategy/img/*
resources/es_sample_record.txt
strategy/plot_accuracy.py
