{% extends 'template.html' %}

{% block header %}
<form action="/push" method="post">
    <input type="submit" value="An Datenbank senden" class="btn btn-secondary m-2">
</form>
{% endblock %}

{% block fullscreen_content %}
<div class="classified-pages">
    <div class="edit">
        <h2>Identified Locations:</h2>
        <input type="button" class="btn btn-dark" value="Add Location" onclick="addLocation()">
        <ul id="location-info">
            {% for location in locations %}
            <input type="text" value="{{location}}"/>
            {% endfor %}
        </ul>

        <h2>Metadata</h2>
        <input type="button" class="btn btn-dark" value="Add Metadata Element" onclick="addMetadata()">
        <ul id="metadata">

        </ul>

        <div class="result">
            {% for page in pages %}
            <div class="classified-page">
                <h3>Seite {{ page.page_number }}</h3>
                <textarea class="page-content">
                {{ page.page_content }}
            </textarea>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pdf">
        <iframe title="PDF File" src="{{ filename }}" style="width: 100%; height: 100%"></iframe>
    </div>

    <script src="../static/js/classify.js"></script>
</div>
{% endblock %}